﻿<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Забранет пристап<h2>
        <p>Ве молиме кликнете на копчето за да ве редиректираме на почетната страна</p>
        <hr />
        <p>
            <a asp-controller="Books" asp-action="Index" class="btn btn-outline-success" >Почетна</a>
        </p>
    </div>
</div>