﻿<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Нарачката е успешна!</h2>
        <p>Може да ги видите сите активни нарачки во делот за нарачки во вашиот профил</p>
        <hr />
        <p>Ви благодариме!</p>
    </div>
</div>